<h2>Gallery</h2>

<div class="pull-right" style="padding-top: 30px;">
    <form class="form-inline md-form mr-auto mb-4">
        <input class="form-control" type="text" placeholder="Search" name="search" aria-label="Search" style="width: 400px;">
        <button class="btn btn-primary btn-rounded" formaction="~/Product/Search" type="submit">Search</button>
    </form>
</div>
