
@{
    ViewBag.Title = "Login_Main";
}

@model ShoppingCart.Models.User

@using (Html.BeginForm("Authenticate", "Login", FormMethod.Post, new { @class = "form, form-control" }))
{
    <label for="UserName">Username:</label>
    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control"})

    <label for="Password">Password:</label>
    @Html.TextBoxFor(m => m.Password, new { @class = "form-control" })

    <input type="submit" value="Login" class="btn btn-success"/>
 }





