@{
    ViewBag.Title = "InvalidUser";
}

<script>



    function showMessage() {



        alert('Invalid Username or Password!');



    }



</script>







<body onload="showMessage">

    

    @using (Html.BeginForm("Main", "Login", FormMethod.Post))



    {



    <input type="submit" value="Back" />



    }







</body>

