@using ShoppingCart.Models;
@using System.Collections;
@{
    ViewBag.Title = "Gallery";
    ViewBag.ActiveGallery = "active";
    //Session["ProductIds"] = new ArrayList();
}
@{
    var products = (List<Product>)ViewData["ProductData"];
}

@Html.Partial("_Search")

<section style="padding-top: 30px;">
    <div class="row">
        @foreach (var product in products)
        {
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="~/@product.Image" alt="Pay Pal">
                    <div class="caption">
                        <h3>@product.ProductName</h3>
                        <p>@product.Description</p>
                        <p><button type="button" class="btn btn-success" onclick="AddtoCart(this.value);" value="@product.ProductId">Add to Cart</button></p>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

